.autocomplete-content-pg {position:relative;}
.autocomplete-pg {position:absolute;top:100%;left:0;width:100%;background-color:#fff;color:#000;z-index:999;}
.autocomplete-pg a {color:cornflowerblue !important;cursor:pointer;}
.autocomplete-pg a:hover {color:mediumblue !important;}

/*
.selected{
    border:solid #0fa6d4 1px;
    float:none;
    margin:2px;
    padding:2px 15px;
}

.selected a{
    cursor:pointer;
    font-weight:bold;
}
*/